<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <div
        class="form-group"
        [class.has-error]="name.invalid && name.touched"
        [class.has-success]="name.valid"
      >
        <label for="fullName" class="control-label">Full name</label>
        <input
          id="name"
          name="name"
          [(ngModel)]="employee.name"
          type="text"
          required
          #name="ngModel"
          class="form-control"
        />
        <span class="help-block" *ngIf="name.invalid && name.touched"
          >Full name is required
        </span>
      </div>

      <div
        class="form-group"
        [class.has-error]="email.invalid && email.touched"
      >
        <label for="email" class="control-label">Email</label>
        <input
          id="email"
          name="email"
          [(ngModel)]="employee.email"
          type="text"
          class="form-control"
          #email="ngModel"
          [required]="contactPreference.value == 'email'"
          pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(pragimtech)\.com$"
        />
        <span class="help-block" *ngIf="email.errors?.required"
          >Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern"
          >Email is invalid
        </span>
      </div>

      <div class="form-group" [class.has-error]="phoneNumber.invalid">
        <label for="phoneNumber" class="control-label">Phone number</label>
        <input
          id="phoneNumber"
          name="phoneNumber"
          [(ngModel)]="employee.phoneNumber"
          type="text"
          class="form-control"
          [required]="contactPreference.value == 'phone'"
          #phoneNumber="ngModel"
        />
        <span class="help-block" *ngIf="phoneNumber.invalid">
          Phone number is required
        </span>
      </div>
      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date Of Birth</label>
          <input
            id="dateOfBirth"
            name="dateOfBirth"
            [(ngModel)]="employee.dateOfBirth"
            type="text"
            bsDatepicker
            [bsConfig]="datePickerConfig"
            class="form-control"
            placement="right"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input
          id="photoPath"
          name="photoPath"
          [(ngModel)]="employee.photoPath"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <button
          class="btn btn-primary"
          (click)="togglePhotoPreview()"
          type="button"
        >
          {{ previewPhoto ? 'Hide ' : 'Show ' }} Preview
        </button>
      </div>

      <div class="form-group">
        <img
          [src]="employee.photoPath"
          height="200"
          width="200"
          *ngIf="previewPhoto"
        />
      </div>

      <div
        class="form-group"
        [class.has-error]="
          contactPreference.touched && contactPreference.invalid
        "
      >
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input
              type="radio"
              value="phone"
              name="contactPreference"
              [(ngModel)]="employee.contactPreference"
              required
              #contactPreference="ngModel"
            />
            Phone
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              value="email"
              name="contactPreference"
              [(ngModel)]="employee.contactPreference"
              required
              #contactPreference="ngModel"
            />
            Email
          </label>
        </div>
        <span
          class="help-block"
          *ngIf="contactPreference.touched && contactPreference.invalid"
          >Contact Preference is required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="gender.touched && gender.invalid"
      >
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input
              type="radio"
              value="male"
              name="gender"
              [(ngModel)]="employee.gender"
              required
              #gender="ngModel"
            />
            Male
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              value="female"
              name="gender"
              [(ngModel)]="employee.gender"
              required
              #gender="ngModel"
            />
            Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.touched && gender.invalid"
          >Gender is required
        </span>
      </div>

      <div
        class="form-group"
        [class.has-error]="isActive.touched && isActive.invalid"
      >
        <div class="form-control">
          <label class="checkbox-inline control-label">
            <input
              type="checkbox"
              name="isActive"
              [(ngModel)]="employee.isActive"
              [required]="employee.isActive == null"
              #isActive="ngModel"
            />
            Is Active
          </label>
        </div>
        <span class="help-block" *ngIf="isActive.touched && isActive.invalid">
          IsActive is required</span
        >
      </div>

      <div
        class="form-group"
        [class.has-error]="deparment.touched && deparment.invalid"
      >
        <label for="deparment" class="control-label">
          Departemnt
        </label>

        <select
          class="form-control"
          id="deparment"
          appSelectorValidator
          name="deparment"
          [(ngModel)]="employee.department"
          #deparment="ngModel"
        >
          <option [value]="-1">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{ dept.name }}
          </option>
        </select>
        <span
          class="help-block"
          *ngIf="deparment.touched && deparment.errors?.defaultSelected"
          >Department is required</span
        >
      </div>
    </div>
    <div class="panel-footer">
      <button
        [disabled]="employeeForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Save
      </button>
    </div>
  </div>
</form>

Angular generated form model: {{ employeeForm.value | json }}
<br />
<br />
{{ deparment }}

<br />
<br />
Our employee model : {{ employee | json }}
